.about{
    width: 50%;
    font-size: x-large;
    font-style: italic;
    margin: auto 10px;
    color: rgb(160, 136, 136);
}
.enjoyAbout{
    margin: 50px;
}
.aboutDesc{
    font-size: medium;
    margin-top: 20px;
}
.AboutPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.aboutImg{
    margin: auto 20px;
    width: 30%;
}